$light-blue: #0DD2CC;
$dark-green: #2D4045;
$alt-purple: #39007C;
$alt-dark-green: #253438;
$orange: #FEB425;
$white: #FFF;
$extra-light-gray: #6C7A7D;
$light-gray: #F8F9FA;
$middle-gray: #707070;
$gray: #929A9C;
$extra-light-brown: #6F6F6F;
$light-brown: #676767;
