.animation {
  margin-top: 33px;
  font: bold 28px/33px Raleway;
  text-align: right;

  max-width: 322px;
}

.animated {
  width: 322px;
  white-space: wrap !important;

  * > {
  white-space: wrap !important;
  }
}
