.hero {
  background: url("../images/hero.png") 0 0 no-repeat;
  background-size: cover;
  z-index: 0;
  height: 659px;
  width: 100%;
  display: block;
  margin-bottom: 80px;

  & .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & .column {
      flex-direction: column;
      flex-basis: 30%;
      flex-grow: 1;
    }

    & .row {
      flex-flow: row wrap;
      flex: 1;
    }

    @media (max-width: 768px) {
      padding-top: 136px;

      justify-content: center;
      align-items: flex-start;
      flex-wrap: wrap;
      text-align: center;

      .column {
        flex: 0 0 100%;
        align-self: flex-start;
        flex-grow: 1;

        .image {
          align-self: flex-end;
        }
      }
    }
  }

  & .call-to-action {
    position: relative;
    top: 40px;

    .btn-schedule {
      font: 400 18px/24px Raleway;
    }

    @media (max-width: 768px) {
      top: 400px;
    }
  }

  & .description {
    display: inline-block;
    height: 185px;
    width: 623px;
    font: 400 20px/27px Raleway;
    color: $white;

    @media all and (min-width: 768px) and (max-width: 1024px) {
      font: 400 22px/26px Raleway !important;
      width: 503px;
    }

    @media (max-width: 768px) {
      font: 400 12px/20px Raleway;
      display: block;
      height: 81px;
      width: 300px;
      margin: 0 auto;
      margin-bottom: 40px;

      & span {
        font: Bold 24px/32px Raleway !important;
      }
    }
  }

  & .image {
    align-self: center;
    display: inline-block;
    max-height: 579px;
    height: 579px;
    position: inherit;
    left: 680px;
    margin-top: 140px;
    max-width: 650px;
    text-align: center;

    img {
      margin-bottom: 0;
      max-width: 579px;
      max-height: 610px;
      width: auto;
      height: auto;
      margin-left: -60px;

      @media (min-width: 1681px) {
        margin-left: 60px;
      }
    }

    @media all and (min-width: 768px) and (max-width: 1024px) {
      img {
        max-height: 490px;
        max-width: 472px;
        margin: 0 auto;
      }
    }

    @media (max-width: 768px) {
      top: 0;
      padding-top: 0;
      margin-top: 0;

      img {
        max-height: 350px;
        max-width: 332px;
        margin: 0 auto;
      }
    }
  }

  & .title {
    font: Bold 36px/49px Raleway;
    color: $white;
    margin-bottom: 52px;

    @media all and (min-width: 768px) and (max-width: 1024px) {
      font: Bold 26px/34px Raleway;
    }

    @media (max-width: 768px) {
      font: Bold 24px/32px Raleway;
      text-align: center;
    }
  }

  & .btn-want-to-know {
    margin: 0 auto;
    display: block;
    margin-top: 45px;

    @media (max-width: 768px) {
      top: 330px;
      left: 63px;
      position: inherit;
    }

    @media (min-width: 1681px) {
      left: 653px;
    }
  }

  @media (max-width: 768px) {
    background-position: -760px -20px;
    margin-bottom: 180px;
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    background-position: center center;
  }

  @media (min-width: 1441px) and (max-width: 1680px) {
    background-position: 0 -120px;
  }

  @media (min-width: 1681px) {
    background-position: center -230px;
    height: 689px;
  }

  &.home {
    background: url("../images/small-circle.png") -390px 50px no-repeat;
    background-size: 50%;
    height: 804px;
    margin-bottom: 0;

    @media (max-width: 768px) {
      background-position: -590px 20px;
      background-size: 804px;
    }

    @media (min-width: 768px) and (max-width: 1024px) {
      background-size: 90%;
      background-position: -660px -50px;
      height: 694px;
    }

    @media (min-width: 1680px) {
      background-position: -150px 40px;
      background-size: 40%;
    }

    .description {
      font: 400 28px/33px Raleway;
      text-align: left;
      letter-spacing: 0;
      width: 360px;
      height: auto;
      z-index: 1;
      margin-right: 0;

      span {
        font-weight: 800;
      }

      @media (max-width: 768px) {
        font: 400 20px/24px Raleway !important;
        margin: 0;
        margin-bottom: 20px;
        display: block;
        height: 73px;
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;

        & span {
          font: Bold 20px/24px Raleway !important;
        }
      }
    }

    .image {
      width: 442px;
      height: 461px;
      min-height: 461px;
      margin-top: 197px;
      padding-top: 0;
      z-index: 2;

      img {
        max-width: 442px;
        max-height: 461px;
        width: auto;
        height: auto;
        margin-bottom: 0;
        background-clip: content-box;
        margin-left: 0;

        @media all and (min-width: 768px) and (max-width: 1024px) {
          max-width: 336px;
          max-height: 345px;
          width: auto;
          height: auto;
        }

        @media (max-width: 768px) {
          max-width: 236px;
          max-height: 245px;
          width: 236px;
          height: 245px;
        }
      }

      @media all and (min-width: 768px) and (max-width: 1024px) {
        width: 300px !important;
        height: 320px;
        min-height: 265px;
        z-index: 2;
      }

      @media (max-width: 768px) {
        align-self: flex-end;
        margin-top: 20px;
        width: 236px !important;
        height: 265px;
        min-height: 265px;
        z-index: 2;
      }
    }

    .with-atos6 {
      width: 322px;
      height: auto;
      text-align: right;
      color: $white;
      font: 300 28px/33px Raleway;

      span {
        display: block;
      }

      @media (max-width: 768px) {
        text-align: center;
        width: 100%;
      }
    }

    & .container {
      flex-wrap: wrap;
    }
  }
}

.background {
  position: absolute;
  top: -227px;
  left: -127px;
  background: linear-gradient(to bottom, rgb(57, 0, 124) 50%, rgb(57, 0, 124));
  background-size: 100%;
  border-bottom-right-radius: 35%;
  border-bottom-left-radius: 35%;
  height: 804px;
  z-index: -1;
  width: 120vw;

  @media (max-width: 768px) {
    top: -27px;
    left: -37px;
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 10%;
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    height: 694px;
  }

  @media (min-width: 1680px) {
    background-size: 40%;
  }
}
